body {
  background-color: #51576d;
}

.container1 {
  text-align: center;
  padding: 340px 0 0;
}

h1 {
  color: #eebebe;
}

#result {
  margin-top: 20px;
  font-size: 24px;
  color: #eebebe;
  text-align: center;
}

.score {
  font-size: 24px;
  color: #eebebe;
  text-align: center;
}