body {
  background-color: #51576d;
}

.container1 {
  text-align: center;
  padding: 340px 0 0;
}

h1 {
  color: #eebebe;
}

#resetButton {
  background-color: #c6d0f5;
  color: #626880;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  font-size: 20px;
}

#resetButton:hover {
  background-color: #626880;
  color: #c6d0f5;
  border: #c6d0f5 solid 2px;
  cursor: pointer;
}

#result {
  margin-top: 20px;
  font-size: 24px;
  color: #eebebe;
  text-align: center;
}
